/* mobile */
.intro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.lodret_tekst {
  grid-column: 4 / span 1;
  grid-row: 1;
}
.introduktion {
  grid-column: 1 / span 3;
  grid-row: 1;
}

/* desktop */
@media (min-width: 850px) {
  main {
    max-width: 1100px;
    margin: 0 auto;
  }
}
