/* MOBILE */
header {
  /* position: sticky; */
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-family: courier_prime;
}
.logo img {
  width: 30%;
  padding: 10px;
}
/* JS TIL LOGO */
.logo {
  transition: transform 2s ease-in-out;
  /* Glidende overgang ved rotering */
}
.rotate {
  transform: rotate(360deg);
  /* Roterer billedet 360 grader */
}
/* JS TIL LOGO */
.menu {
  display: flex;
  list-style: none;
  padding: 10px 5px;
}
.menu a {
  display: block;
  color: blue;
  border: 1px solid blue;
  padding: 5px;
  text-decoration: none;
}
.menu a:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.burger {
  width: 25px;
  height: 15px;
  cursor: pointer;
  margin: 1rem 2rem;
}
.burger .line {
  width: 100%;
  height: 2px;
  background-color: blue;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: rgb(243, 244, 238);
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 15px;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-image: url(../img/hero_portfolio.webp);
  background-size: cover;
  background-position: center;
}
.footer_menu {
  display: flex;
  list-style: none;
  font-family: courier_prime;
  color: blue;
}
.footer_menu li {
  font-size: 12px;
  margin-top: 20px;
}
.footer_menu a {
  display: block;
  color: black;
  text-decoration: none;
}
.ikoner {
  display: flex;
  padding-left: 20px;
  width: 25%;
}
.ikoner a {
  margin-left: 5px;
  margin-top: 10px;
}
/* forside */
.intro {
  display: grid;
  grid-template-columns: repeat(4 1fr);
}
.lodret_tekst {
  grid-column: 4;
  grid-row: 1;
}
.introduktion {
  grid-column: 1 / span 3;
}
.mig_desktop,
.stars {
  display: none;
}
/* tema 2 OG 3 */
.intro_tema2_3 {
  display: grid;
  grid-template-columns: repeat(4 1fr);
}
.introduktion_tema2_3 {
  grid-column: 1 / span 3;
}
.img_t2 {
  padding: 15px;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.img_1 {
  aspect-ratio: 1 / 1;
  grid-row: 1;
}
.img_2 {
  aspect-ratio: 1 / 1;
  grid-column: 2;
}
.img_3 {
  aspect-ratio: 1 / 1;
  grid-column: 2;
  grid-row: 1;
}
.img_4 {
  aspect-ratio: 1 / 1;
  grid-row: 2;
}
.img_1,
.img_2,
.img_3,
.img_4 {
  border: 1px solid grey;
}
.kode {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 25px 15px;
}
.menu_t2,
.galleri_t2,
.span_t2,
.galleri_site {
  filter: grayscale(100%);
  border: 1px solid grey;
  align-self: stretch;
  object-fit: cover;
}
.menu_t2:hover,
.galleri_t2:hover,
.span_t2:hover,
.galleri_site:hover {
  filter: none;
}
.kode_del_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 25px;
  gap: 10px;
}
.span_t2 {
  grid-column: 2;
  grid-row: 1 / span 2;
}
/* tema 3 */
.img_t3 {
  padding: 15px;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.styletile_t3 {
  aspect-ratio: 1.5 / 1;
}
.moodboard_t3 {
  aspect-ratio: 1.5 / 1;
}
.matrix_t3 {
  aspect-ratio: 1.5 / 1;
}
.moodboard_style_t3 {
  aspect-ratio: 1.5 / 1;
}
.hifi_t3 {
  aspect-ratio: 0.8 / 1;
}
.styletile_t3,
.moodboard_t3,
.matrix_t3,
.moodboard_style_t3,
.lofi_t3,
.hifi_t3 {
  filter: grayscale(100%);
  border: 1px solid grey;
  align-self: stretch;
}
.styletile_t3:hover,
.moodboard_t3:hover,
.matrix_t3:hover,
.moodboard_style_t3:hover,
.lofi_t3:hover,
.hifi_t3:hover {
  filter: none;
}
/* TEMA 4 OG 5 */
.intro_tema4_5 {
  display: grid;
  grid-template-columns: repeat(4 1fr);
}
.introduktion_tema4_5 {
  grid-column: 1 / span 3;
}
.img_t4 {
  padding: 15px;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.start_skaerm,
.spil_skaermen,
.levelcomplete_gameover,
.konstanter_start_js,
.function_qs,
.lyde {
  aspect-ratio: 1.5 / 1;
  filter: grayscale(100%);
  border: 1px solid grey;
  align-self: stretch;
  object-fit: contain;
  background-color: white;
}
.start_skaerm:hover,
.spil_skaermen:hover,
.levelcomplete_gameover:hover,
.konstanter_start_js:hover,
.function_qs:hover,
.lyde:hover {
  filter: none;
}
/* TEMA 5 */
.t5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.video {
  padding: 10px 20px;
  filter: grayscale(100%);
}
.video:hover {
  filter: grayscale(100%);
}
.hero_passionssite {
  background-image: url(../img/hero.webp);
  object-fit: cover;
}
.hero_sections {
  display: grid;
  gap: 10px;
  padding: 15px;
}
.virksomhedssite_tekst {
  padding-top: 10px;
}
.sammenligning_img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  align-items: stretch;
  aspect-ratio: 1 /1;
  gap: 10px;
  padding: 15px;
}

/* OM MIG */
.om_mig {
  grid-column: 1 / span 3;
}
.img_om_mig {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  background-image: url(../img/hero_portfolio.webp);
  background-size: contain;
}
.img_m_tekst {
  border: 1px solid grey;
  display: grid;
}
.lollo {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  align-self: stretch;
}
h4 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  color: rgb(243, 244, 238);
}
h4 {
  place-self: start center;
  padding: 25px;
  z-index: 10;
}
.lollo,
.portraet {
  filter: brightness(70%);
}
.scroll_container {
  display: flex;
  gap: 10px;
  overflow: auto;
  white-space: nowrap;
  margin: 15px;
}
.scroll_container img {
  width: 40%;
}
.scroll {
  aspect-ratio: 2 / 2.5;
  filter: brightness(60%);
  object-fit: cover;
}
.scroll:hover {
  filter: brightness(100%);
}

/* DESKTOP */
@media (min-width: 850px) {
  main {
    max-width: 1100px;
    margin: 0 auto;
  }
  .logo img {
    width: 40%;
    padding: 10px;
  }
  .menu {
    margin: 10px 15px;
    gap: 18px;
  }
  header {
    /* position: sticky; */
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-family: courier_prime;
    background-image: url(../img/hero_portfolio.webp);
    background-size: cover;
    background-position: center;
  }
  /* FORSIDE */
  .intro {
    display: grid;
    grid-template-columns: repeat(6 1fr);
  }
  .mig_desktop {
    display: block;
    /* jeg sætter display block på her for at se img'et, da jeg i min generelle css til mobil har sagt, at billedet ellers skal skjules */
    grid-column: 1 / span 5;
    grid-row: 1;
    padding: 10px;
  }
  .introduktion {
    grid-row: 2;
    grid-column: 1 / span 5;
    text-align: justify;
  }
  .lodret_tekst {
    grid-column: 6;
    padding: 10px;
    margin-left: 15px;
  }
  .img_mig {
    display: none;
  }
  .stars {
    display: block;
    width: 20%;
  }
  .stars_desktop {
    grid-column: 5 / span 6;
    grid-row: 2;
    margin: 25px;
  }
  /* CSS TIL JS */
  /* giver mine "stars" på desktop format en rotation ved hjælp af css og js */
  .stars {
    transition: transform 2s ease-in-out;
    /* Glidende overgang ved rotering */
  }
  .rotate {
    transform: rotate(360deg);
    /* Roterer billedet 360 grader */
  }
  /* CSS TIL JS */
  .intro_til_projekter {
    text-align: justify;
  }
  .projekterne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px;
  }
  .projekter {
    font-size: 40px;
  }
  footer {
    display: flex;
    justify-content: space-between;
    padding: 12px;
  }
  .footer_menu {
    display: flex;
    list-style: none;
    font-family: courier_prime;
    color: blue;
  }
  .footer_menu li {
    font-size: 18px;
    margin-top: 25px;
  }
  .ikoner {
    width: 10%;
  }
  /* TEMA 2 & 3 */
  .intro_tema2_3 {
    display: grid;
    grid-template-columns: repeat(6 1fr);
  }
  .introduktion_tema2_3 {
    grid-row: 1;
    grid-column: 1 / span 5;
    margin-top: 20px;
  }
  .lodret_tekst {
    grid-column: 6;
    padding: 10px;
    margin-left: 15px;
  }
  .t2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
  }
  .min_computer_img {
    grid-column: 1;
  }
  .t2_tekst {
    grid-row: 1;
    grid-column: 2;
  }
  .billedtekst {
    grid-column: 1;
  }
  .menu_t2 {
    aspect-ratio: 1 / 1;
    object-fit: contain;
    background-color: white;
  }
  .img_t2 {
    gap: 15px;
  }
  .kode {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px 15px;
  }
  /* TEMA 4 OG 5 */
  .intro_tema4_5 {
    display: grid;
    grid-template-columns: repeat(6 1fr);
  }
  .introduktion_tema4_5 {
    grid-row: 1;
    grid-column: 1 / span 4;
    margin-top: 20px;
  }
  .hero_sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .hero_passionssite,
  .hero_virksomhedssite {
    object-fit: cover;
  }
  /* OM MIG */
  .om_mig {
    grid-column: 1 / span 5;
    text-align: justify;
    padding-top: 15px;
  }
  .citat_mig {
    padding-top: 15px;
  }
  .img_m_tekst {
    border: 1px solid grey;
    display: grid;
  }
  .lollo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    align-self: stretch;
  }
  h4 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    color: rgb(243, 244, 238);
  }
  h4 {
    place-self: start center;
    padding: 25px;
    z-index: 10;
  }
  .scroll_container {
    display: flex;
    gap: 10px;
    overflow: auto;
    white-space: nowrap;
  }
  .scroll_container img {
    width: 20%;
  }
  .scroll {
    aspect-ratio: 2 / 2.5;
    filter: brightness(60%);
    object-fit: cover;
  }
  .scroll:hover {
    filter: brightness(100%);
  }
}
