/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/* fonte */
@font-face {
  font-family: rubik_dirt;
  src: url(../fonts/rubik_dirt/rubikdirt-regular-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: rasa;
  src: url(../fonts/rasa/rasa-variablefont_wght-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: courier_prime;
  src: url(../fonts/courier_prime/courierprime-regular-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* primær og sekundær farve */
html {
  --primary-color: rgb(59, 55, 55);
  --secondary-color: blue;
}
.logo img {
  width: 30%;
  padding: 10px;
}
header {
  /* position: sticky; */
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-family: courier_prime;
}
.menu {
  display: flex;
  list-style: none;
  padding: 10px 5px;
}
.menu a {
  display: block;
  color: blue;
  border: 1px solid blue;
  padding: 5px;
  text-decoration: none;
}
.menu a:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.burger {
  width: 25px;
  height: 15px;
  cursor: pointer;
  margin: 1rem 2rem;
}
.burger .line {
  width: 100%;
  height: 2px;
  background-color: blue;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: rgb(243, 244, 238);
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 15px;
  }
}
body {
  background-color: rgb(243, 244, 238);
}
h1 {
  font-family: rubik_dirt;
  font-size: 50px;
  color: blue;
  writing-mode: vertical-rl;
  padding-left: 3rem;
  text-decoration: underline;
}
h2 {
  font-family: rasa;
  font-size: 38px;
  color: var(--primary-color);
  padding: 10px 15px;
  margin-top: 2rem;
}
h3 {
  font-family: rasa;
  font-size: 18px;
  color: var(--primary-color);
  padding: 2px 15px;
}
p {
  font-family: rasa;
  color: var(--primary-color);
  font-size: 15px;
  padding-left: 15px;
}
.citat {
  font-family: rubik_dirt;
  color: blue;
  font-size: 12px;
  font-style: oblique;
  padding: 20px 15px;
}
.img_mig {
  padding: 20px 15px;
}
.mig {
  border: 1px solid grey;
}
.knap_til_om_mig {
  text-align: center;
  padding: 10px;
}
.knap_om_mig {
  text-decoration: none;
  font-family: courier_prime;
  font-size: 15px;
  color: blue;
  border: 1px solid blue;
  padding: 5px;
}
.knap_om_mig:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
  font-size: 17px;
}
.intro_til_projekter {
  padding-right: 15px;
}

.projekter {
  border: 1px solid blue;
  margin: 20px 2rem;
  text-align: center;
  padding: 2rem;
  font-family: rubik_dirt;
  color: var(--secondary-color);
  font-size: 30px;
}
.web,
.ux_ui,
.animation,
.indhold {
  text-decoration: none;
  color: blue;
  font-family: courier_prime;
  border: 1px solid blue;
  padding: 5px;
  font-size: 15px;
  margin-bottom: 20px;
  text-align: center;
}
.web:hover,
.ux_ui:hover,
.animation:hover,
.indhold:hover {
  color: var(--primary-color);
  font-size: 17px;
  border-color: var(--primary-color);
}
.projekterne {
  padding: 1px 15px;
  text-align: center;
}
/* tema 2 og 3 */
.anden_h3 {
  font-family: rubik_dirt;
  color: blue;
  padding: 15px;
}
.t2 {
  padding: 5px 15px;
}
.min_computer_img {
  filter: grayscale(100%);
  border: 1px solid grey;
}
.billedtekst {
  font-style: oblique;
  font-family: courier_prime;
  font-size: 12px;
}
.tekst_t2 {
  padding-right: 15px;
}
.img_t2 {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.img1 {
  aspect-ratio: 1 / 2;
  grid-row: 1 / span 2;
}
.img2 {
  aspect-ratio: 1 / 1;
  grid-column: 2 / span 1;
}
.img3 {
  aspect-ratio: 1 / 1;
  grid-column: 2 / span 1;
  grid-row: 1;
}

@media (min-width: 850px) {
  h1 {
    font-family: rubik_dirt;
    font-size: 70px;
    color: blue;
    writing-mode: vertical-rl;
    padding-left: 10px;
  }
}
