/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}
/* fonte */
@font-face {
  font-family: rubik_dirt;
  src: url(../fonts/rubik_dirt/rubikdirt-regular-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: rasa;
  src: url(../fonts/rasa/rasa-variablefont_wght-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: courier_prime;
  src: url(../fonts/courier_prime/courierprime-regular-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* primær og sekundær farve */
html {
  --primary-color: rgb(59, 55, 55);
  --secondary-color: blue;
}
body {
  background-color: rgb(243, 244, 238);
}

h1 {
  font-family: rubik_dirt;
  font-size: 50px;
  font-weight: lighter;
  color: blue;
  writing-mode: vertical-rl;
  padding-left: 3rem;
  text-decoration: underline;
}
h2 {
  font-family: rasa;
  font-size: 38px;
  color: var(--primary-color);
  padding: 10px 15px;
  margin-top: 2rem;
}
h3 {
  font-family: rasa;
  font-size: 18px;
  color: var(--primary-color);
  padding: 2px 15px;
}
p {
  font-family: rasa;
  color: var(--primary-color);
  font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.citat {
  font-family: rubik_dirt;
  font-weight: lighter;
  color: blue;
  font-size: 12px;
  font-style: oblique;
  padding: 20px 15px;
}
.img_mig {
  padding: 20px 15px;
}
.mig,
.img_desktop {
  border: 1px solid grey;
}
.knap_til_om_mig {
  text-align: center;
  padding: 10px;
}
.knap_om_mig {
  text-decoration: none;
  font-family: courier_prime;
  font-size: 15px;
  color: blue;
  border: 1px solid blue;
  padding: 5px;
}
.knap_om_mig:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
  font-size: 17px;
}
.intro_til_projekter {
  padding-right: 15px;
}

.projekter {
  border: 1px solid blue;
  margin: 20px 2rem;
  text-align: center;
  padding: 2rem;
  font-family: rubik_dirt;
  color: var(--secondary-color);
  font-size: 30px;
  background-image: url(../img/hero_portfolio.webp);
  /* med background-size cover får jeg baggrundsbilledet til at dække det hele */
  background-size: cover;
}
.web,
.ux_ui,
.animation,
.indhold {
  text-decoration: none;
  color: blue;
  font-family: courier_prime;
  border: 1px solid blue;
  padding: 7px;
  font-size: 15px;
  text-align: center;
}
.web:hover,
.ux_ui:hover,
.animation:hover,
.indhold:hover {
  color: var(--primary-color);
  font-size: 17px;
  border-color: var(--primary-color);
}
.projekterne {
  padding: 15px;
  text-align: center;
  margin-bottom: 25px;
}
/* tema 2 og 3 */
.anden_h3 {
  font-family: rubik_dirt;
  font-weight: lighter;
  color: blue;
  padding: 15px;
}
.t2,
.t3 {
  padding: 5px 15px;
}
.pil {
  font-family: rasa;
  font-weight: bold;
  font-size: 12px;
  color: blue;
}
.min_computer_img,
.emnesite_forside {
  filter: grayscale(100%);
  border: 1px solid grey;
}
.min_computer_img:hover,
.emnesite_forside:hover {
  filter: none;
}
.billedtekst {
  font-style: oblique;
  font-family: courier_prime;
  font-size: 12px;
}
.knap_til_projekt,
.knap_til_figma {
  text-decoration: none;
  font-family: courier_prime;
  font-size: 15px;
  color: blue;
  border: 1px solid blue;
  padding: 5px;
}
.knap_til_projekt:hover,
.knap_til_figma:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
  font-size: 17px;
}
.knapper_t2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding: 15px;
}
.knap_t3 {
  text-align: center;
  margin: 20px 10px;
}
/* TEMA 4 OG 5 */
.animation_forside {
  filter: grayscale(100%);
  border: 1px solid grey;
}
.animation_forside:hover {
  filter: none;
}
.knap_t4 {
  text-align: center;
  margin: 25px 10px;
}
.t4,
.t5,
.t5_virksomhedssite {
  padding: 5px 15px;
}
.passionssite,
.virksomhedssite,
.virksomhedssite_priser {
  filter: grayscale(100%);
  border: 1px solid grey;
}
.passionssite:hover,
.virksomhedssite_priser:hover,
.virksomhedssite:hover {
  filter: none;
}
/* TEMA 5 */
.knap_t5_passion,
.knap_t5_figma_virksomhed {
  text-align: center;
  margin: 20px 10px;
}
.hero_passionssite,
.hero_virksomhedssite {
  filter: grayscale(100%);
  border: 1px solid grey;
}
.hero_passionssite:hover,
.hero_virksomhedssite:hover {
  filter: none;
}
.sammenligning {
  filter: grayscale(100%);
  border: 1px solid grey;
}
.sammenligning:hover {
  filter: none;
}
.knapper_t5_virksomhed {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding: 20px 15px;
  margin-bottom: 15px;
}
/* OM MIG */
.img_om_mig {
  padding: 20px 15px;
}
h4 {
  font-family: rubik_dirt;
  font-weight: 100;
  font-size: 12px;
}
.portraet {
  border: 1px solid grey;
}
.cv_overskrift {
  font-family: rubik_dirt;
  font-weight: 100;
  font-size: 13px;
  color: blue;
  padding-bottom: 10px;
}

.mit_cv {
  padding: 7px;
  margin: 20px 10px;
  border: 1px solid grey;
}
.cv_sted,
.kontakt {
  list-style-position: inside;
  font-family: rubik_dirt;
  font-size: 13px;
  padding-bottom: 10px;
}
.cv_sted:hover,
.kontakt:hover {
  font-size: 16px;
  color: blue;
}
@media (min-width: 850px) {
  h1 {
    font-size: 75px;
  }
  h2 {
    font-size: 50px;
    padding: 3px 15px;
  }
  h3 {
    font-size: 25px;
  }
  p {
    font-size: 22px;
    text-align: justify;
  }
  /* forside */
  .citat {
    font-size: 20px;
  }
  .knap_til_om_mig {
    margin: 20px;
  }
  .knap_om_mig {
    font-size: 20px;
    padding: 10px;
  }
  .knap_om_mig:hover {
    font-size: 22px;
  }
  .web,
  .ux_ui,
  .animation,
  .indhold {
    padding: 10px;
    font-size: 20px;
  }
  .web:hover,
  .ux_ui:hover,
  .animation:hover,
  .indhold:hover {
    font-size: 22px;
  }
  /* tema 2 & 3 */
  .billedtekst {
    font-size: 14px;
  }
  .kode {
    text-align: justify;
    margin-top: 15px;
  }
  .pil {
    font-family: rasa;
    font-weight: bold;
    font-size: 16px;
    color: blue;
  }
  .knapper_t2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding: 15px;
    margin: 10px;
  }
  .knap_til_projekt,
  .knap_til_figma {
    font-size: 18px;
    padding: 7px;
  }
  .knap_til_projekt:hover,
  .knap_til_figma:hover {
    font-size: 20px;
  }
  .knap_t3 {
    margin: 2rem;
  }

  /* OM MIG */
  h4 {
    font-family: rubik_dirt;
    font-weight: 100;
    font-size: 28px;
  }
  .cv_overskrift {
    font-size: 18px;
  }
  .cv_sted,
  .kontakt {
    font-size: 18px;
  }
  .cv_sted:hover,
  .kontakt:hover {
    font-size: 22px;
  }
}
